<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../stylesheet.css">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../category">Browse by policy category</a>
                    <a class="dropdown-item" href="../candidate">Browse by candidate</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Voting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../queueol">Queue Online</a>
                    <a class="dropdown-item" href="#">Find Polling Stations</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="title">
    <h1>Employment Policies</h1>
</div>

<div class="grid-containertwo">
    <div class="item1">
        <div class="breadcrumbs">
            <div><a href="/">Home</a>/</div>
            <div><a href="/category">Category</a>/</div>
            <div><a href="/category/employment">Employment</a></div>
        </div>

    </div>

    <div class="accordion">
        <div>
            <h2></h2>
        </div>
        <%for(var i in policies){%>

        <%if(policies[i].category=="employment"){%>
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse<%=i%>">
                    <h5><%= policies[i].title %>------<%= policies[i].state %></h5>

                </a>
            </div>
            <div id="collapse<%=i%>" class="collapse" data-parent="#accordion">
                <div class="card-body desc1">

                    <h5>The policy maker:</h5> <p><%= policies[i].policymaker %></p>
                    <h5>Description:</h5><p> <%= policies[i].description %></p>
                </div>
            </div>
        </div>
        <%}%>
        <%}%>

    </div>
</div>



<footer class="footer">
    <p>&copy; 2018 Team about:blank.</p>
</footer>


</body>
</html>