<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <div class="dropbtn"> Policy

        </div>
        <div class="dropdown-content">
            <a href="/category">Browse by Category</a>
            <a href="/candidate">Browse by Candidate</a>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn"> Ready to Vote

        </div>
        <div class="dropdown-content">
            <a href="/queueol">Queue Online</a>
            <a href="#">Online Submission</a>
            <a href="#">Find Polling Station</a>
        </div>
    </div>
</div>
<div class="rowtitle">
    <h1>Welcome to Online Election</h1>
</div>

<div class="slideshow-container">

    <div class="mySlides fade style1">

        <img src="lol.jpg">

        <div class="text">Australia should learn from 'coherent, democratic' Azerbaijan election, says Liberal MP after state-sponsored visit</div>
    </div>

    <div class="mySlides fade style1">

        <img src="picture2.jpg">

        <div class="text">Coalition and Labor swap policies in bid to score votes ahead of 2019 election</div>
    </div>

    <div class="mySlides fade style1">
        <img src="australia.jpg">

        <div class="text">Final Results of the 2018 South Australian Election</div>
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>


<div>
        <div class="column middle">
            <div class="middle-content">
                <h4>Main Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
            <div class="middle-content">
                <h4>Main Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
            <div class="middle-content">
                <h4>Main Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
            <div class="middle-content">
                <h4>Main Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
            <div class="middle-content">
                <h4>Main Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>

        </div>
        <div class="column side">
            <div><h2>Place for Help</h2>
                <p><%=address.secondary_address%></p>
                <p><%=address.street_address%></p>
                <p><%=address.city%></p>
                <p><%=address.state%></p>
            </div>
            <div>
                <h2>Or Call us</h2>
                <p>number:<%=address.number%></p>

            </div>
            <div>
                <button id="query">Online Equiry</button>

            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form>
                        <label for="name">Name: </label><br>
                        <input type="text" id="name" placeholder="Your Name"><br>
                        <label for="contact">Contacts</label><br>
                        <input type="text" id="contact"placeholder="contact detail"><br>
                        <label for="contact">Enquiry</label><br>
                        <input type="text" id="querycontent" placeholder="Enter your Enquiry here"><br>
                        <input id='form_sub' type="submit">
                    </form>
                </div>

            </div>

            <div>
                <h2>Upcoming Election</h2>
                <p><ul>Say YES to same sex marriage</ul></p>

            </div>



        </div>

</div>


 <script>
    // Get the modal
    var modal = document.getElementById('modal');

    // Get the button that opens the modal
    var btn = document.getElementById("query");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        console.log(modal);
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }


</script>



</body>
</html>
